<div class='mt-4'>
    <h3>Upload News</h3>
    <form method='post' action='/news/store'>
        <div class='mb-3'>
            <label for='title' class='form-label'>Title:</label>
            <input
                type='text'
                class='form-control'
                id='title'
                name='title'
                aria-describedby='emailHelp'
            />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>Description: </label>
            <textarea
                class='form-control'
                id='description'
                name='description'
                aria-describedby='description'
            ></textarea>
        </div>
        <div class='mb-3'>
            <label for='image' class='form-label'>Image link:</label>
            <input
                type='text'
                class='form-control'
                id='image'
                name='image'
                aria-describedby='emailHelp'
            />
        </div>
        <div class='mb-3'>
            <label for='content' class='form-label'>Content:</label>
            <textarea
                class='form-control'
                id='content'
                name='content'
                aria-describedby='content'
            ></textarea>
        </div>
        <div class='mb-3'>
            <label for='slug' class='form-label'>Slug:</label>
            <input
                type='text'
                class='form-control'
                id='slug'
                name='slug'
                aria-describedby='emailHelp'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Upload</button>
    </form>
</div>