[submodule "KaiChat"]
	path = KaiChat
	url = https://github.com/linoxolus/KaiChat

[submodule "kai-gallery"]
	path = kai-gallery
	url = https://github.com/linoxolus/kai-gallery
[submodule "authentication"]
	path = authentication
	url = https://github.com/linoxolus/authentication
